@charset "UTF-8";

/*全画面共通*/
body {                            /*すべてのページに適用*/
  background-color: #ffead6;      /*背景色*/
  margin:0 auto 0 auto;
  max-width:960px;                /*ページ最大幅*/
}

/*全画面共通ヘッダー*/
hr {                             /*境界線*/
  background-color:#ff7f50;      /*境界線の色*/
  height:2px;                    /*境界線の太さ*/
}

.header {                        /*全ページ共通ヘッダー*/
  height:120px;                  /*ヘッダーの高さ*/
}

/*ロゴをどうするかはまだ未定*/

.images{                         /*ロゴ*/
	margin-top:-40px;
	    /*ロゴの位置を真ん中に*/
}

.logo{
text-align:center
}
/*サイのアイコンを使うときのCSS*/
.icon{                             /*サイのアイコン（アカウントページに飛ぶ）*/
  float:right;                     /*右に配置*/
  margin: -31px;
  margin-right: -156px;
}

/*例 html*/
/*<html>
<head>
<meta charset="UTF-8">
<title>みんなの気持ち教えてくだサイト受講者用</title>
<link rel ="stylesheet" href ="css/common.css">
</head>
<body>
<header class ="header">
<h1 class ="logo"><!-- a href="S_MenuServlet" --><img src ="images/未定.png" alt ="みんなの気持ち教えてくだサイト"></h1>
</header>
<hr>
<a class="icon" href="/CAP/SigninServlet"><img src ="images/icon.png" alt ="アカウント"></a>
*/


.footer {                         /*全ページ共通フッター*/
  position:absolute;
  bottom:-90px;
  margin-left: 100px;

}

/*a{
 margin-left:770px;
}*/
a:link {
  color:#d25833;
}

a:visited {
    color:#d25833;

}

a:hover{
  color:#e3937a;
}

a:active {
  color:#ff6a3b;
}

/*.copyright{
 margin-left:-650px;		/*Copyrightの位置調整*/


/*例 html*/
/*<footer class ="footer">
	<p>&copy:Copyright MINNKUDA . All rights reserved.</p>
<a class="a" href="/CAP/LogoutServlet">ログアウト</a>
</footer>
</body>
</html>*/