.a{
margin-left:909px;
}

.footer1 {                         /*全ページ共通フッター*/
  position:absolute;
  bottom:-20px;
  margin-right: 58px;
  height:120px;
}

.result {
  text-align:center;
  color:#ff4500;
  font-size:22px;
}
