html * {
  box-sizing:border-box;
}

body {                            /*すべてのページに適用*/
  background-color: #ffead6;      /*背景色*/
  margin:0 auto 0 auto;
  max-width:960px;                /*ページ最大幅*/
}

hr {                             /*境界線*/
  background-color:#ff4500;      /*境界線の色*/
  height:3px;                    /*境界線の太さ*/
}

.header {                        /*全ページ共通ヘッダー*/
  height:120px;                  /*ヘッダーの高さ*/
}

.footer {                         /*全ページ共通フッター*/
  position:absolute;
  bottom:-100px;
  margin-right: 58px;
  height:120px;
}

.copyright{
 margin-right:500px;		/*Copyrightの位置調整*/
}

.account{               /*アカウント*/
  text-align:center;
  font-size:25px;
}

.hello{                 /*こんにちは○○さん*/
  text-align:center;
  font-size:20px;
}


.form{               /*フォーム項目*/
  margin:0 auto 0 auto;
  line-height:50px;
}

.box{              /*フォーム項目枠線*/
  border:2px solid #ff4500;
  width: 600px;
  margin-left: 182px;
  margin-top:45px;
  border-radius:20px;
}


.reset{             /*OK,リセットボタン*/
  text-align:center;
}
.answer{
  width:178px;


/*パスワード再設定*/
.resetbox {             /*パスワード再設定枠線*/
  text-align:center;
  border:2px solid #ff4500;
  width: 600px;
  margin-left: 10px;
  margin-top:45px;
  border-radius:20px;
  margin:0 auto 0 auto;
}

.rstbtn {
  margin:0 auto 0 auto;
