/*サイトのおでこ狭く*/
.logo{
  margin: -180px auto 0 auto;
  text-align: center;

}

body{
	text-align: center;
	max-width: 960px;		/*全体幅*/
	margin: auto auto auto auto;
	transform: translateY(50%);
 	background-color: #FFEAD6;      /*背景色*/
	color: #ffffff;
  	margin:0 auto 0 auto;
  	max-width:960px;                /*ページ最大幅*/
}

main{
	margin: 0 auto;
}

table{
	margin: 0 auto 0 auto;
}
/*無いと氏名の右のテキストボックスがおかしくなる*/
td{
	max-width: 85px;
}

footer{
	margin: 0 auto;
}

hr {                             /*境界線*/
  background-color:#ff4500;      /*境界線の色*/
  height:3px;                    /*境界線の太さ*/
}
/*ok、リセットボタンの下の空白*/
form{
	margin-bottom:30px;
}

.form{               /*フォーム項目*/
  margin:0 auto 10px auto;
  line-height:60px;
	
}
.box{              /*フォーム項目枠線*/
  border:2px solid #FF4500;
  width: 600px;
  margin-left: 182px;
  margin-top:45px;
  border-radius:20px;
}

.header {                        /*全ページ共通ヘッダー*/
  height:120px;                  /*ヘッダーの高さ*/
}
.footer {                         /*全ページ共通フッター*/
  position:absolute;
  bottom:-150px;
  margin-left: 0 auto 0 auto;
  height:120px;			/*Copyrightの位置調整*/
}

a{
 margin-left:770px;
}
.copyright{
 margin-right:500px;		/*Copyrightの位置調整*/
}

/*ボタンサイズ*/
td.okbtn {
  width:69px;
  height:26px;
}

td.resetbtn {
  width:69px;
  height:26px;
}

/*OKボタンデザイン*/

.okbtn {                         /*投稿（受講生）閲覧（講師）ボタン*/
  /*margin-left:-25px;*/
  line-height:20px;
  position:relative;
  height:20px;
  width:30px;
  font-size:11px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:0 auto 0 auto;
  color:#ffffff;
  background-color:#F27F0C;
  border-radius:5px;
  box-shadow:2px 2px 2px #ff4500;
}

.okbtn:hover{                        /*アカウントボタン講師・受講生 ホバー*/
     background-color: #ffbf7f;/*ボタン色*/
     border-bottom: solid 2px #f39800; /*下線色*/
}

.okbtn:active {                      /*ボタンをクリックする時の効果*/
     margin-top: 2px;
     border-bottom: none;
     -webkit-transform: translateY(2px); /*下移動*/
     transform: translateY(2px);
}

/*リセットボタンデザイン*/
.resetbtn {                         
  /*margin-left:-25px;*/
  line-height:20px;
  position:relative;
  height:27px;
  width:77px;
  font-size:11px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:0 auto 0 auto;
  color:#ffffff;
  background-color:#F27F0C;
  border-radius:5px;
  box-shadow:2px 2px 2px #ff4500;
}

.resetbtn:hover{                        /*アカウントボタン講師・受講生 ホバー*/
     background-color: #ffbf7f;/*ボタン色*/
     border-bottom: solid 2px #f39800; /*下線色*/
}

.resetbtn:active {                      /*ボタンをクリックする時の効果*/
     margin-top: 2px;
     border-bottom: none;
     -webkit-transform: translateY(2px); /*下移動*/
     transform: translateY(2px);
}