@charset "UTF-8";


.button2 {                         /*投稿（受講生）閲覧（講師）ボタン*/
  margin-left:-25px;
  line-height:280px;
  position:relative;
  height:280px;
  width:300px;
  font-size:35px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:6px 0 8px;
  color:#ffffff;
  background-color:#fc800596;
  border-radius:5px;
  box-shadow:2px 2px 2px #ff4500;
}

.button2:hover{                        /*アカウントボタン講師・受講生 ホバー*/
     background-color: #ffbf7f;/*ボタン色*/
     border-bottom: solid 6px #f39800; /*下線色*/
}

.button2:active {                      /*ボタンをクリックする時の効果*/
     margin-top: 6px;
     border-bottom: none;
     -webkit-transform: translateY(6px); /*下移動*/
     transform: translateY(6px);
}


.button3 {                      /*閲覧（受講生）顔文字（講師）ボタン*/
  line-height:280px;
  height:280px;
  width:300px;
  margin-left:145px;
  font-size:35px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:6px 0 8px;
  color:#ffffff;
  background-color:#fc800596;
  border-radius:5px;
  box-shadow:2px 2px 2px #ff4500;
}

.button3:hover{                        /*アカウントボタン講師・受講生 ホバー*/
     background-color: #ffbf7f;/*ボタン色*/
     border-bottom: solid 6px #f39800; /*下線色*/
}

.button3:active {                      /*ボタンをクリックする時の効果*/
     margin-top: 6px;
     border-bottom: none;
     -webkit-transform: translateY(6px); /*下移動*/
     transform: translateY(6px);
}

.menu {                                /*button2.3の位置*/
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
}

.eyes{               /*閲覧アイコン*/
  margin-top:45px;
  margin-left:36px;
}
.smile{              /*顔文字アイコン*/
  margin-top:35px;
  margin-left:36px;
}

.write {             /*投稿アイコン*/
  margin-top:28px;
  margin-left:18px;
}

.a{
  margin-left: 765px;
}

.copyright{
    margin-left: -110px;
    margin-bottom: 50px;
}