@charset "UTF-8";
body {                            /*すべてのページに適用*/
  background-color: #ffead6;      /*背景色*/
  margin:0 auto 0 auto;
  max-width:960px;                /*ページ最大幅*/
}

hr {                             /*境界線*/
  background-color:#ff7f50;      /*境界線の色*/
  height:2px;                    /*境界線の太さ*/
}

.header {                        /*全ページ共通ヘッダー*/
  height:120px;                  /*ヘッダーの高さ*/
}

.logo {                          /*ロゴ*/
  text-align:center;             /*ロゴの位置を真ん中に*/
}

.icon{                             /*サイのアイコン（アカウントページに飛ぶ）*/
  float:right;                     /*右に配置*/
  margin: -31px;
  margin-right: -156px;
}



.button2 {                         /*投稿（受講生）閲覧（講師）ボタン*/
  margin-left:-25px;
  line-height:280px;
  position:relative;
  height:280px;
  width:300px;
  font-size:35px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:6px 0 8px;
  color:#ffffff;
  background-color:#F27F0C;
  border-radius:5px;
  box-shadow:2px 2px 2px #ff4500;
}

.button2:hover{                        /*アカウントボタン講師・受講生 ホバー*/
     background-color: #ffbf7f;/*ボタン色*/
     border-bottom: solid 6px #f39800; /*下線色*/
}

.button2:active {                      /*ボタンをクリックする時の効果*/
     margin-top: 6px;
     border-bottom: none;
     -webkit-transform: translateY(6px); /*下移動*/
     transform: translateY(6px);
}


.button3 {                      /*閲覧（受講生）顔文字（講師）ボタン*/
  line-height:280px;
  height:280px;
  width:300px;
  margin-left:145px;
  font-size:35px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:6px 0 8px;
  color:#ffffff;
  background-color:#F27F0C;
  border-radius:5px;
  box-shadow:2px 2px 2px #ff4500;
}

.button3:hover{                        /*アカウントボタン講師・受講生 ホバー*/
     background-color: #ffbf7f;/*ボタン色*/
     border-bottom: solid 6px #f39800; /*下線色*/
}

.button3:active {                      /*ボタンをクリックする時の効果*/
     margin-top: 6px;
     border-bottom: none;
     -webkit-transform: translateY(6px); /*下移動*/
     transform: translateY(6px);
}

.menu {                                /*button2.3の位置*/
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
}


a:link {                 /*ログアウト*/
  color:#d25833;
}

a:visited {              /*ログアウト*/
    color:#d25833;

}

a:hover{                /*ログアウト*/
  color:#e3937a;
}

a:active {              /*ログアウト*/
  color:#ff6a3b;
}

.eyes{               /*閲覧アイコン*/
  margin-top:45px;
  margin-left:36px;
}
.smile{              /*顔文字アイコン*/
  margin-top:35px;
  margin-left:36px;
}

.write {             /*投稿アイコン*/
  margin-top:28px;
  margin-left:18px;
}
.footer {                         /*全ページ共通フッター*/
  position:absolute;
  bottom:-100px;
  margin-left: 850px;
  height:120px;
}
